<div class="module">
  <h3>{{code}}</h3>
  <h4>{{title}}</h4>
  <div class="module-class">
  {{#lectures}}
    <span class="label label-warning lecture-basket">LECT</span>
  {{/lectures}}
  {{#tutorials}}
    <span class="label label-success tutorial-basket">TUT</span>
  {{/tutorials}}
  {{#labs}}
    <span class="label label-info lab-basket">LAB</span>
  {{/labs}}
  </div>
</div>
