<div id="{{id}}" class="module">
  <h3 title="Click to view Module Details">{{code}}</h3>
  <h4>{{title}}</h4>
  <div class="module-class">
  {{#lectures}}
  <span id="{{id}}-lectures" class="label label-large basket-lecture draggable">LECT</span>
  {{/lectures}}
  {{#tutorials}}
  <span id="{{id}}-tutorials" class="label label-large basket-tutorial draggable">TUT</span>
  {{/tutorials}}
  {{#labs}}
  <span id="{{id}}-labs" class="label label-large basket-lab draggable">LAB</span>
  {{/labs}}
  </div>
</div>
