<div id="{{code}}-{{type}}-{{classNo}}-{{index}}"
    class="bar {{type}}s"
    style="top:{{top}};left:{{left}};width:{{width}};height:{{height}};">
    <p class="bar-title">{{code}} {{type-short}}</p>
    <p class="bar-room" style="display:hidden">{{room}}</p>
</div>
