<div id="{{id}}" class="module clearfix">
    <div class="method" style="background:{{color}}">
        <span class="detail"><i class="icon-info-sign icon-white"></i></span>
        <span class="timetable"><i class="icon-eye-open icon-white"></i></span>
        <span class="remove"><i class="icon-remove icon-white"></i></span>
    </div>
    <div class="info">
        <div class="code">{{code}}</div>
        <div class="title">{{title}}</div>
        <div class="examdate">{{examDate}}</div>
    </div>
</div>
