<div id="{{code}}-{{type}}-{{classNo}}-{{index}}"
    class="grid slot {{type}} offset{{offset}} span{{span}}"
    style="background:{{color}};">
    <p>{{code}} {{type-short}}<br>{{room}}</p>
</div>
