<div id="{{code}}-{{type}}-{{slot.classNo}}-{{index}}"
    class="grid slot {{type}} offset{{offset}} span{{span}}"
    style="background:{{data.color}}"
    data-offset="{{offset}}" data-span="{{span}}">
    <p>{{code}} {{shortType}}<br>{{slot.room}}</p>
</div>
