<div id="{{id}}" class="module clearfix">
    <div class="method" style="background:{{color}}">
        <span class="remove" title="Remove Module" rel="tooltip"><i class="icon-remove icon-white"></i></span>
        <span class="detail" title="View Detail" rel="tooltip"><i class="icon-info-sign icon-white"></i></span>
        <span class="timetable" title="Show/Hide in Timetable" rel="tooltip"><i class="icon-eye-open icon-white"></i></span>
    </div>
    <div class="info">
        <div class="code">{{code}}</div>
        <div class="title">{{title}}</div>
        <div class="examdate">{{examDate}}</div>
    </div>
</div>
