<div id="module-detail" data-modcode="{{code}}">
    <h4 style="color:{{color}}">{{code}} - {{title}}</h4>
    <p><a href="{{url}}" target="_blank" title="View on CORS">
        Correct As At: {{correctAsAt}}
    </a></p>
    <table class="table">
        <tbody>
        <tr><th colspan="4">Exam Date</th></tr>
        <tr><td colspan="4">{{examDate}}</td></tr>
        <tr>
            <th>Credits</th><td>{{credits}}</td>
            <th>Workload</th><td>{{workload}}</td>
        </tr>
        <tr><th colspan="4">Description</th></tr>
        <tr><td colspan="4">{{description}}</td></tr>
        <tr><th colspan="4">Pre-requisite</th></tr>
        <tr><td colspan="4">{{prerequisite}}</td></tr>
        <tr><th colspan="4">Preclusion</th></tr>
        <tr><td colspan="4">{{preclusion}}</td></tr>
        </tbody>
    </table>
</div>
