@import "bootstrap.css.less";

@import "m-buttons.css.less";
@import "m-forms.css.less";
@import "m-icons.css.less";

@import "toastr.less";

/*!========================================
 * Author: Wang Zhuochun
 * Last Edit: 17/Nov/2012 04:23 PM
 * ======================================== */

/* variables */
@blue: #0072C6;
@lightblue: #CDE6EC;
@darkblue: #213C92;
@red: #EA1100;
@grey: #F3F3F3;

/* timetable grid */
@grid-title-bg: @blue;
@grid-odd-bg: #EAEAEA;
@grid-even-bg: #F3F3F3;
@grid-hover: #E7E7E7;
@grid-border: #FFF;

/* module */
@module-bg: @blue;
@module-hover: @darkblue;

/* basics */
body {
    cursor: default;
}

h1 {
    font-size: 32px;
    color: @darkblue;

    &:hover {
        color: @blue;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

/* structure */
#planner {
    height: 100%;
    min-width: 980px;

    position: relative;
}

#primary {

}

#tt-header {
    padding: 10px 0;
}

/* timetable grid */
#tt-grid {
    #grid-title {
        .grid {
            background-color: @grid-title-bg;
            color: @grid-border;
            border-color: @grid-border;
        }
    }

    .grid-head {
        border-left: 1px solid @grid-border;
    }

    .grid {
        border-top: 1px solid @grid-border;
        border-right: 1px solid @grid-border;
        text-align: center;
        height: 44px;
    }

    .weekday {
        &:nth-child(odd) .grid {
            background: @grid-odd-bg;
        }

        &:nth-child(even) .grid {
            background: @grid-even-bg;
        }

        &:hover .grid { background: @grid-hover; }

        .row-fluid:nth-child(n+2) .grid {
                border-top: none;
        }

        .grid-head h4 {
            color: @grid-title-bg;
        }
    }

    #friday .row-fluid:last-child .grid {
        border-bottom: 1px solid @grid-border;
    }
}

#secondary {
    height: 100%;

    color: #333;

    h1 {
        padding: 0 0 5px 0;
    }
}

/* sidebar */
#sidebar {
    background: @grey;

    padding: 10px;
    margin: 0 20px 0 0;

    overflow: hidden;
}

#add-module {
    .m-btn { width: 60px; }
}

/* metro-pivot */
#metro-pivot .headers {
    clear: both;
    display: block;

    margin: 15px 0;

    white-space: nowrap;
}

#metro-pivot .pivot-item h3,
#metro-pivot .headers .header {
    cursor: pointer;

    font-size: 24px;
    margin: 0 15px 0 0;
    padding: 0;

    vertical-align: top;
}

#metro-pivot .headers .header.current {
}

#metro-pivot .items {
}

#metro-pivot .items .pivotItem {
    margin: 0 -10px 0 0;

    overflow-y: scroll;
    overflow-x: hidden;

    height: 500px;
    padding: 0 0 15px;
}

/* module */
.module {
    display: block;
    width: 100%;
    margin: 0 0 3px;
    overflow: hidden;

    .method {
        float: left;
        width: 20px;
        background: @blue;

        display: block;
        padding: 3px 0 1px;

        span {
            display: block;
            padding: 3px 3px 0;
            margin: 0 0 1px;
            cursor: pointer;

            &:hover {
                background: @darkblue;
            }
        }
    }

    .info {
        float: left;
        background: @grid-hover;
        width: 200px;
        padding: 2px 0 2px 5px;
        line-height: 24px;
        font-size: 16px;

        .code {
            font-weight: bold;
        }

        .code,
        .title,
        .examdate {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &:hover .info {
        background: @blue;
        color: @grey;
    }

}

#detail {
    th {
        text-align: left;
    }
}

/* footer */
#footer {
    margin-top: 20px;
    padding: 5px 10px 10px;
    text-align: center;
}

/* media */
@media (max-width: 1220px) {
    h1 {
        font-size: 24px;
    }
}

/*
/* board */
/*
@moduleWidth: 145px;
@moduleHeight: 105px;

#add {
    label {
        font-weight: bold;
        margin-right: 10px;
    }

    i {
        margin-right: 4px;
    }
}

#basket {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    height: 120px;
}

#basket-scroll {
    position: relative;
    width: 300px;
    height: @moduleHeight
}

#basket-scroll div:last-child {
    margin-right: 0px;
}

.module {
    float: left;
    display: block;

    padding: 5px;
    margin-right: 10px;

    overflow: hidden;

    background-color: @navbarBackgroundHighlight;

    border: 1px solid @grayLight;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.1);
    box-shadow: 0px 2px 5px rgba(0,0,0,.1);

    width: @moduleWidth;
    height: @moduleHeight;

    h3 {
        cursor: pointer;
        float: left;
        line-height: 25px;
        &:hover { color: @pinkColor }
    }

    h3, h4 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h5 { color: #888 }

    h4, h5 { line-height: 19px }

    .module-control {
        float: right;
        padding: 1px 5px 0 0;
        cursor: pointer;
        color: #ddd;
        &:hover { color: #666 }
    }

    .module-class {
        margin-top: 12px;
    }
}

.module-placeholder {
    border: 2px dashed #aaa;
}

.label-large {
    padding: 13px 10px;
}

.draggable {
    cursor: move;

    &.basket {
        &-lecture {
            background-color: @orange;

            &:hover {
                background-color: lighten(@orange, 10%);
            }
        }

        &-tutorial {
            background-color: @successText;

            &:hover {
                background-color: lighten(@successText, 10%);
            }
        }

        &-lab {
            background-color: @infoText;

            &:hover {
                background-color: lighten(@infoText, 10%);
            }
        }
    }
}

/* planner */
    /*
#main {
    margin-bottom: 10px;

    a {
        text-decoration: none;

        &:hover {
            color: @redColor;
        }
    }
}

#timetable {
    position: relative;

    th {
        text-align: center;
    }

    .weekday {
        min-height: 50px;
        max-width: 40px;

        vertical-align: middle;
        white-space: nowrap;
        font-weight: bold;

        text-overflow: ellipsis;
        text-transform: capitalize;

        overflow: hidden;
    }
}

/* module slot bar */
// module slot variables
/*
@barRedColor: #78436D;
@barRedBgColor: #F9C4E1;
@barGreenColor: #778461;
@barGreenBgColor: #D8EDA3;
@barOrangeColor: #714715;
@barOrangeBgColor: #FCD39A;

// module slot bar styles
.slots {
    position: absolute;
    overflow: hidden;
}

.bar {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset;

    position: absolute;
    overflow: hidden;

    color: #fff;
    font-size: 11px;

    text-align: left;
    text-overflow: ellipsis;

    opacity: .6;
    &:hover { opacity: 1; }

    &.lectures {
        background-color: lighten(@orange, 10%);
    }
    &.tutorials {
        background-color: lighten(@successText, 10%);
    }
    &.labs {
        background-color: lighten(@infoText, 10%);
    }
}

.bar-hover {
    opacity: 1;
}

/* secondary panel */
/*
    */
