@import "bootstrap/bootstrap.less";

body {
  padding: 60px 0 0;
  cursor: default;
}

@import "bootstrap/responsive.less";

/*!========================================
 * Author: Wang Zhuochun
 * Last Edit: 14/Jul/2012 01:45 PM
 * ======================================== */

/* nav */
// nav variables
@logoColor: #4A64BC;
@pinkColor: #E21149;
// nav styles
#nav {
    #wander {
        display: inline-block;
        margin: -5px 5px 0 0;
        width: 20px;
        height: 19px;
    }

    .brand {
        width: 290px;
        font-weight: bold;
        color: @logoColor;

        &:hover {
            color: darken(@logoColor, 15%);
        }
    }
}

/* board */
@moduleWidth: 145px;
@moduleHeight: 101px;

#add {
    label {
        font-weight: bold;
        margin-right: 10px;
    }

    i {
        margin-right: 4px;
    }
}

#basket {
    position: relative;
    overflow: auto;
}

#basket-scroll {
    position: relative;
    width: 300px;
    height: @moduleHeight
}

#basket-scroll div:last-child {
    margin-right: 0px;
}

.module {
    float: left;
    display: block;

    padding: 5px;
    margin-right: 10px;

    overflow: hidden;

    background-color: @navbarBackgroundHighlight;

    border: 1px solid @grayLight; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.1);
    box-shadow: 0px 2px 5px rgba(0,0,0,.1);

    width: @moduleWidth;
    height: @moduleHeight;

    h3 {
        cursor: pointer;
    }

    h4 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .module-class {
        margin-top: 20px;
    }
}

.label-large {
    padding: 13px 10px;
}

.draggable {
    cursor: pointer;

    &.basket {
        &-lecture {
            background-color: @orange;

            &:hover {
                background-color: lighten(@orange, 10%);
            }
        }

        &-tutorial {
            background-color: @successText;

            &:hover {
                background-color: lighten(@successText, 10%);
            }
        }

        &-lab {
            background-color: @infoText;

            &:hover {
                background-color: lighten(@infoText, 10%);
            }
        }
    }
}

/* planner */
#main {
    margin-bottom: 10px;
}

#timetable {
    position: relative;

    th {
        text-align: center;
    }

    .weekday { 
        max-width: 50px;
        height: 50px;

        vertical-align: middle;
        white-space: nowrap;
        font-weight: bold;

        text-align: right;
        text-overflow: ellipsis;
        text-transform: capitalize;

        overflow: hidden;
    }
}

/* module slot bar */
// module slot variables
@barRedColor: #78436D;
@barRedBgColor: #F9C4E1;
@barGreenColor: #778461;
@barGreenBgColor: #D8EDA3;
@barOrangeColor: #714715;
@barOrangeBgColor: #FCD39A;

// module slot bar styles
.bar {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset;

    position: absolute;
    overflow: hidden;

    height: 45px;
    padding-top: 2px;

    color: #fff;
    font-size: 11px;
    line-height: 14px;

    text-align: center;
    text-overflow: ellipsis;

    opacity: .6;

    &.lectures {
        background-color: lighten(@orange, 10%);
    }

    &.tutorials {
        background-color: lighten(@successText, 10%);
    }

    &.labs {
        background-color: lighten(@infoText, 10%);
    }
}

.bar-hover {
    opacity: 1;
}

/* secondary panel */
#detail {
    height: 480px;
    overflow: auto;

    th {
        vertical-align: top;
    }

    .header {
        color: @infoText;
    }
}

/* footer */
#footer {
    padding: 5px 10px 10px;
    text-align: center;
}
