/* {{{ */
#modules {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.module {
  width: 100px;
  height: 100px;
  background: yellow;
  padding: 5px;
}

.module-lect {
  border: 2px solid #888;
  margin: 0 auto;
  cursor: pointer;
}
/* }}} */

#timetable {
  position: relative;
  width: 1200px;
  padding: 0 1px;
  margin: 20px auto;
}

.table {
  border: 1px solid #aaa;
}

#week-table th,
#week-table td {
  min-width: 26px;
}

#week-table tbody tr {
  height: 55px;
}

#week-table th,
td.day-title {
  font-family: Consolas, Monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
}

#events {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.event {
  position: absolute;
  display: block;
  background: #333;
  padding: 3px 2px;
  height: 48px;
  overflow: hidden;
  opacity: 0.8;

  font-size: 10px;
}

.hover-event {
  background-color: yellow;
}

.active-event {
  background-color: red;
}

.event[data-hour=".5"], 
.event[data-hour="0.5"] {
  width: 40px; /* 44 - 4 (padding) */
}
.event[data-hour="1"] {
  width: 84px; /* 40 + 44 */
}
.event[data-hour="2"] {
  width: 165px; /* 44 * 4 - 1 (border) - 10 (padding) */
}

.event[data-day="monday"] {
  top: 36px; /* 34 + 1 (border) + 1 (border) */
}
.event[data-day="tuesday"] {
  top: 91px; /* 36 + 55 */
}
.event[data-day="wednesday"] {
  top: 146px; /* 91 + 55 */
}
.event[data-day="thursday"] {
  top: 201px; /* 146 + 55 */
}
.event[data-day="friday"] {
  top: 256px; /* 201 + 55 */
}

.event[data-time="8"] {
  left: 46px; /* 44 + 2 (borders) */
}
.event[data-time="8.5"] {
  left: 90px; /* 46 + 44 */
}
.event[data-time="9"] {
  left: 135px; /* 90 + 44 */
}
.event[data-time="9.5"] {
  left: 178px; /* 134 + 44 */
}
.event[data-time="10"] {
  left: 211px; /* 46 + 165 */
}
