* {
  padding: 0;
  margin: 0;
}

#modules {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.module {
  width: 100px;
  height: 100px;
  background: yellow;
  padding: 5px;
}

.module-lect {
  border: 2px solid #888;
  margin: 0 auto;
  cursor: pointer;
}

#timetable {
  width: 1440px;
  border: 1px solid #ddd;
  padding: 0;
  margin: 20px auto;
}

.row {
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  border: 1px solid #aaa;
  overflow: hidden;
  position: relative;
}

.row-head {
  font-weight: bold; 
  width: 80px;
  text-align: center;
  color: green;
  border-right: 1px solid blue;
}

.col {
  display: inline-block;
  overflow: hidden;
  border-right: 1px solid blue;
  text-align: center;
}

.col:last-child {
  border-right: none;
}

.col-1 {
  width: 70px;
}

.col-2 {
  width: 143px;
  background: #eee;
}

.col-3 {
  width: 216px;
  background: #ddd;
}

.col-4 {
  width: 288px;
  background: #ccc;
}

.span {
  position: absolute;
}

.span-800 {
  left: 80px;
}

.span-830 {
  left: 150px;
}

.span-900 {
  left: 230px;
}

.span-1200 {
  left: 500px;
}

.span-1230 {
  left: 570px;
}
