<div id="{{id}}-loading" class="module loading clearfix">
    <div class="method">
        <div><i class="icon-download-alt icon-white"></i></div>
    </div>
    <div class="info">
        <div class="code">Loading {{id}}</div>
    </div>
</div>
