<div id="{{code}}-{{type}}-{{slot.index}}-{{index}}"
    class="grid slot {{type}} offset{{offset}} span{{span}}"
    style="background-color:{{data.color}}"
    data-id="{{code}}" data-type="{{type}}"
    data-offset="{{offset}}" data-span="{{span}}">
    <p>{{code}} {{shortType}}<br/><span class="opt-info">{{slot.room}}</span></p>
</div>
